---

- name: "delete the directory {{ generated_dir }}"
  file:
    path: "{{ generated_dir }}"
    state: absent
  when: not travis_testing

- name: "create the directory {{ generated_dir }}"
  file:
    path: "{{ generated_dir }}"
    state: directory
    mode: '0755'

- name: "Combining the individual deploy/*yaml files into a single one: {{ generated_op_yaml }}"
  shell: "kustomize build --reorder none {{ operator_dir }}/config/overlays/default > {{ generated_op_yaml }}"
  ignore_errors: False

- name: "Copy generated file to dev file"
  copy:
    src: "{{ generated_op_yaml }}"
    dest: "{{ generated_op_dev_yaml }}"

- name: "Replace ibm-spectrum-scale/ with ibm-spectrum-scale-dev/"
  replace:
    path:  "{{ generated_op_dev_yaml }}"
    regexp: "ibm-spectrum-scale/"
    replace: "ibm-spectrum-scale-dev/"

- name: "IfNotPresent with Always"
  replace:
    path:  "{{ generated_op_dev_yaml }}"
    regexp: "IfNotPresent"
    replace: "Always"

- name: "Replace the image version with dev"
  replace:
    path:  "{{ generated_op_dev_yaml }}"
    regexp: 'quay.io/ibm-spectrum-scale-dev/ibm-spectrum-scale-csi-([^:]*):.+'
    replace: 'quay.io/ibm-spectrum-scale-dev/ibm-spectrum-scale-csi-\1:dev'

- name: "[Testing] Comparing the generated operator file with checked in code ..."
  shell: "diff {{ generated_dir }}/ibm-spectrum-scale-csi-operator.test.yaml {{ generated_dir }}/ibm-spectrum-scale-csi-operator.yaml"
  ignore_errors: yes
  register: diff_output
  when: travis_testing|bool

- name: "[Testing] Diff standard out"
  debug:
    msg: "{{ diff_output.stdout }}"
  when: travis_testing|bool

- name: "[Testing] Diff standard error"
  debug:
    msg: "{{ diff_output.stderr }}"
  when: travis_testing|bool

- name: "[Testing] Failure Message"
  fail:
    msg: "The generated ibm-spectrum-scale-csi-operator.yaml did not match the deploy yaml files, did you forget to check it in?"
  when:
    - travis_testing|bool
    - "diff_output.rc != 0"
