---
# If openshift is present use that deployment.
{% if 'apps.openshift.io' in api_groups %}
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
{% else %}
apiVersion: apps/v1
kind: Deployment
{% endif %}

metadata:
  name: {{ name }}
  namespace: '{{ meta.namespace }}'
  labels: 
    app: {{ name }}
    service: {{ name }}

spec:
  replicas: {{ size }}

# Spec selector changes depending on the default kube app vs openshift.
{% if 'apps.openshift.io' in api_groups %}
  selector:
    app: {{ name }}
{% else %}
  selector:
    matchLabels:
      app: {{ name }}
{% endif %}

  template:
    metadata:
      labels: 
        app: {{ name }}
    spec:
      containers:
         - image: {{ image }}
           name: "csi-spectrum-scale"


