apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
    name: 'csi-spectrum-scale'
    namespace: '{{ meta.namespace }}'
provisioner: csi-spectrum-scale
parameters:
    volBackendFs: "{{ item.primary.primaryFS }}"
    clusterId: "{{ item.id }}"
    # uid: "1000"
    # gid: "1000"
    # inode-limit: "1024"
    # fileset-type: "independent"
reclaimPolicy: Delete
