---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-spectrum-scale-csi
  namespace: {{ NAMESPACE }}
spec:
  sourceType: grpc
  image: "quay.io/{{QUAY_NAMESPACE}}/{{PACKAGE_NAME}}:{{CHANNEL_NAME}}"
  displayName: "CSI Scale Operator"
  publisher: "IBM"

