---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-spectrum-scale-csi-sub
  namespace: {{ NAMESPACE_OPERATOR }}
spec:
  channel: {{CHANNEL_NAME}}
  name: {{PACKAGE_NAME}}
  source: ibm-spectrum-scale-csi
  sourceNamespace: {{ NAMESPACE }}

