# Run below command with requirements.txt to install required packages of python. 
# i.e.  python3.7 -m pip install -r requirements.txt  

kubernetes == 23.3.0
pytest == 7.0.1
pytest-html == 3.1.1
PyYAML == 6.0
ansi2html == 1.7.0
pytest-parallel == 0.1.1
pytest-rerunfailures == 10.2
