kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: "{{ opName }}-attacher"
  namespace: "{{ namespace }}"
  labels:
    app.kubernetes.io/instance: '{{labelInstance}}'
    app.kubernetes.io/managed-by: '{{labelManage}}'
    app.kubernetes.io/name: '{{labelName}}'
    product: '{{ productName }}'
    release: '{{ labelRelease }}'
spec:
  serviceName: "{{ opName }}-attacher"
  replicas: 1
  selector:
    matchLabels:
      app: "{{ opName }}-attacher"
      product: "{{ productName }}"
  template:
    metadata:
      labels:
        app: "{{ opName }}-attacher"
        app.kubernetes.io/instance: '{{labelInstance}}'
        app.kubernetes.io/managed-by: '{{labelManage}}'
        app.kubernetes.io/name: '{{labelName}}'
        product: '{{ productName }}'
        release: '{{ labelRelease }}'
      annotations:
        productID: '{{annotationProductID}}'
        productName: '{{annotationProductName}}'
        productVersion: '{{annotationProductVersion}}'
    spec:
{% if attacherNodeSelector|length > 0 %}
      nodeSelector:
{% for attacherNodeSelect in attacherNodeSelector %}
        {{ attacherNodeSelect.key }}: "{{ attacherNodeSelect.value }}"
{% endfor %}
{% endif %}
      serviceAccount: "{{ productName }}-attacher"
      containers:
        - name: "{{ opName }}-attacher"
{% if 'apps.openshift.io' in api_groups %}
          securityContext:
            privileged: true
{% endif %}
          image: "{{ attacher }}"
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
            - "--resync=10m" # Added
            - "--timeout=2m"
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/ibm-spectrum-scale-csi/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/ibm-spectrum-scale-csi
{% if imagePullSecrets | length > 0 %}
      imagePullSecrets:
{% for pullSecret in imagePullSecrets %}
        - name:  "{{ pullSecret }}"
{% endfor %}
{% endif %}
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/ibm-spectrum-scale-csi
            type: DirectoryOrCreate
