kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: "{{ opName }}-attacher"
  namespace: "{{ namespace }}"
  labels:
    product: "{{ productName }}"
spec:
  serviceName: "{{ opName }}-attacher"
  replicas: 1
  selector:
    matchLabels:
      app: "{{ opName }}-attacher"
      product: ibm-spectrum-scale-csi
  template:
    metadata:
      labels:
        app: "{{ opName }}-attacher"
        product: "{{ productName }}"
    spec:
{% if attacherNodeSelector|length > 0 %}
      nodeSelector:
{% for attacherNodeSelect in attacherNodeSelector %}
        {{ attacherNodeSelect.key }}: "{{ attacherNodeSelect.value }}"
{% endfor %}
{% endif %}
      serviceAccount: "{{ productName }}-attacher-sa"
      containers:
        - name: "{{ opName }}-attacher"
{% if 'apps.openshift.io' in api_groups %}
          securityContext:
            privileged: true
{% endif %}
          image: "{{ attacher }}"
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
            - "--connection-timeout=2m" # Added
            - "--resync=10m" # Added
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/ibm-spectrum-scale-csi/csi.sock
            - name: CHECKSUM
              value: "{{cluster_checksum}}"
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/ibm-spectrum-scale-csi
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/ibm-spectrum-scale-csi
            type: DirectoryOrCreate
