kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: '{{ opName }}-provisioner'
  namespace: '{{ namespace }}'
spec:
  serviceName: '{{ opName }}-provisioner'
  replicas: 1
  selector:
    matchLabels:
      app: "{{ opName }}-provisioner"
  template:
    metadata:
      labels:
        app: '{{ opName }}-provisioner'
        product: ibm-spectrum-scale-csi
    spec:
{% if provisionerNodeSelector|length > 0 %}
      nodeSelector:
{% for provisionerNodeSelect in provisionerNodeSelector %}
        {{ provisionerNodeSelect.key }}: "{{ provisionerNodeSelect.value }}"
{% endfor %}
{% endif %}
      serviceAccount: external-provisioner-runner
      containers:
        - name: csi-provisioner
{% if 'apps.openshift.io' in api_groups %}
          securityContext:
            privileged: true
{% endif %}
          image: '{{ provisioner }}'
          args:
            - "--provisioner=csi-spectrum-scale"
            - "--csi-address=$(ADDRESS)"
            - "--connection-timeout=2m"
            - "--v=5" # Debugging
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/csi-spectrum-scale/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi-spectrum-scale
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi-spectrum-scale
            type: DirectoryOrCreate
