CSI:

    # will be auto fetched in case where locally mounted filesystem is primaryFs
    # Need to provide local filesystem name in other cases for running localcluster tests
    localFs: ""

    # will be auto fetched in case where remotely mounted filesystem is primaryFs
    # Need to provide remote filesystem name on Primary cluster for running remotecluster tests
    remoteFs: ""

    #keepobjects 1) true/True if want to retain all objects created by testsuite
    #            2) false/False if want to delete all objects created by testsuite
    #            3) onfailure if want to retain failed testcases objects created by testsuite
    keepobjects: "False"

    #----------------------------------------------------------------------------------------------------------#
    #                             Following Configurations are OPTIONAL                                        #
    #----------------------------------------------------------------------------------------------------------#

    # will be auto fetched if CSI is already deployed
    # Pass username ,password ,port and path of cacert file for primary cluster SpectrumScale GUI (in plain text)
    username: ""    
    password: ""
    port: "443"
    cacert_path: ""

    # will be auto fetched if CSI is already deployed
    # Pass usernames ,passwords and path of cacert files for remote cluster SpectrumScale GUI (in plain text)
    remote_username:
      "guisecretremote1": "guisecretusername-remotecluster1"
      "guisecretremote2": "guisecretusername-remotecluster2"
    remote_password:
      "guisecretremote1": "guisecretpassword-remotecluster1"
      "guisecretremote2": "guisecretpassword-remotecluster2"
    remote_port: "443"
    remote_cacert_path: 
    #  "remoteconf1": ""

    number_of_parallel_pvc: 50

    # image name that is to be used in pod
    image_name: "nginx:1.19.0"

    # csiscaleoperator custom resource object name
    csiscaleoperator_name: "ibm-spectrum-scale-csi"

    #scalevalidation 1) True if want to use requests on IBM Storage Scale gui
    #                2) False if does not want to use requests on IBM Storage Scale gui
    scalevalidation: "True"
    remoteclusterid: "" # Only required when scalevalidation = False

    volDirBasePath: "LW"
    parentFileset: "root"
    gid_name: "nobody"
    uid_name: "nobody"
    gid_number: "99"
    uid_number: "99"
    inodeLimit: "1024"
    tier: "system"

    r_volDirBasePath: "LW"
    r_parentFileset: "root"
    r_gid_name: "nobody"
    r_uid_name: "nobody"
    r_gid_number: "99"
    r_uid_number: "99"
    r_inodeLimit: "1024"
    r_tier: "system"
