# Pass username ,password ,port and path of cacert file for primary cluster SpectrumScale GUI (in plain text)
username: "csiadmin"    
password: "Passw0rd123"
port: "443"
cacert_path: "/root/configfile/spectrumscale-trusted-ca.crt"

# Pass usernames ,passwords and path of cacert files for remote cluster SpectrumScale GUI (in plain text)
"remote-username": 
  "guisecretremote": "csiadmin"
#  "guisecret2": "user1"

"remote-password": 
  "guisecretremote": "Passw0rd1"

"remote-port": "443"

remote_cacert_path: 
#  "remoteconf1": "/root/configfile/remote-spectrumscale-trusted-ca.crt"


number_of_sequential_pvc: 10

# Must provide remote filesystem name on Primary cluster and remote cluster id 
# in case of remote_test.py and snapshot_remote_test.py
remoteFs: "remotefs"
remoteid: "5671145063406913128"

# OPTIONAL : Should be given in case of driver_test.py,snapshot_test.py  
# and want to use filesytem other than the primaryFs
volBackendFs: ""

#keepobjects true if want to retain objects created by testsuite
keepobjects: "False"

# image name that is to be used in pod
image_name: "nginx:1.19.0"


volDirBasePath: "LW"
parentFileset: "root"
gid_name: "nobody"
uid_name: "nobody"
gid_number: "99"
uid_number: "99"
inodeLimit: "1024"

"r-volDirBasePath": "LW"
"r-parentFileset": "root"
"r-gid_name": "nobody"
"r-uid_name": "nobody"
"r-gid_number": "99"
"r-uid_number": "99"
"r-inodeLimit": "1024"
