---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Adds namespace to all resources.
namespace: ibm-spectrum-scale-csi

bases:
- ../../manager/
- ../../rbac/
- ../../crd/
- ../../scc/

patches:
  - target:
      kind: Deployment
      labelSelector: "app.kubernetes.io/name=ibm-spectrum-scale-csi-operator"
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ibm-spectrum-scale-csi-operator
      spec:
        template:
          spec:
            containers:
              - name: operator
                env:
                  # do not remove: this is required for CNSA; SHORTNAME_NODE_MAPPING="yes" for split hostNetwork node mapping.
                  - name: SHORTNAME_NODE_MAPPING
                    value: "yes"
                  - name: CSI_SNAPSHOTTER_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/csi-snapshotter@sha256:714aa06ccdd3781f1a76487e2dc7592ece9a12ae9e0b726e4f93d1639129b771
                  - name: CSI_ATTACHER_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/csi-attacher@sha256:08721106b949e4f5c7ba34b059e17300d73c8e9495201954edc90eeb3e6d8461
                  - name: CSI_PROVISIONER_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/csi-provisioner@sha256:e468dddcd275163a042ab297b2d8c2aca50d5e148d2d22f3b6ba119e2f31fa79
                  - name: CSI_LIVENESSPROBE_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/livenessprobe@sha256:2b10b24dafdc3ba94a03fc94d9df9941ca9d6a9207b927f5dfd21d59fbe05ba0
                  - name: CSI_NODE_REGISTRAR_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/csi-node-driver-registrar@sha256:4a4cae5118c4404e35d66059346b7fa0835d7e6319ff45ed73f4bba335cf5183
                  - name: CSI_RESIZER_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/csi-resizer@sha256:3a7bdf5d105783d05d0962fa06ca53032b01694556e633f27366201c2881e01d
                  - name: CSI_DRIVER_IMAGE
                    value: cp.icr.io/cp/spectrum/scale/csi/ibm-spectrum-scale-csi-driver@sha256:bbc8b23716b878d217da91a56bedbf3fe1d85ea21fe364d70d09b20ce2d4b1a2
                image: icr.io/cpopen/ibm-spectrum-scale-csi-operator@sha256:f75da4fc172e106d1f6770c188e4757f6f28cada9359a508936f029845ddf244
