kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: "{{ opName }}"
  namespace: '{{ namespace }}'
  labels:
    app.kubernetes.io/instance: '{{labelInstance}}'
    app.kubernetes.io/managed-by: '{{labelManage}}'
    app.kubernetes.io/name: '{{labelName}}'
    product: '{{ productName }}'
    release: '{{ labelRelease }}'
spec:
  selector:
    matchLabels:
      app: "{{ opName }}"
      product: '{{ productName }}'
  template:
    metadata:
      labels:
        app: "{{ opName }}"
        app.kubernetes.io/instance: '{{labelInstance}}'
        app.kubernetes.io/managed-by: '{{labelManage}}'
        app.kubernetes.io/name: '{{labelName}}'
        product: '{{ productName }}'
        release: '{{ labelRelease }}'
      annotations:
        productID: '{{annotationProductID}}'
        productName: '{{annotationProductName}}'
        productVersion: '{{annotationProductVersion}}'
    spec:
{% if pluginNodeSelector|length > 0 %}
      nodeSelector:
{% for pluginNodeSelect in pluginNodeSelector %}
        {{ pluginNodeSelect.key }}: "{{ pluginNodeSelect.value }}"
{% endfor %}
{% endif %}
      serviceAccount: "{{ productName }}-node"
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: driver-registrar
{% if 'apps.openshift.io' in api_groups %}
          securityContext:
            privileged: true
{% endif %}
          image: "{{ driverRegistrar }}"
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
            - "--kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)"
          env:
            - name: ADDRESS
              value: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com/csi.sock"
            - name: CHECKSUM
              value: "{{cluster_checksum}}"
            - name: DRIVER_REG_SOCK_PATH
              value: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com/csi.sock"
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: plugin-dir
              mountPath: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com"
            - name: registration-dir
              mountPath: /registration
        - name: liveness-probe
          image: '{{ livenessprobe }}'
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
          env:
            - name: ADDRESS
              value: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com/csi.sock"
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: plugin-dir
              mountPath: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com"
        - name: ibm-spectrum-scale-csi
          image: "{{ spectrumScale }}"
          args :
            - "--nodeid=$(NODE_ID)"
            - "--endpoint=$(CSI_ENDPOINT)"
            - "--v=5"
            - "--kubeletRootDirPath=$(KUBELET_ROOT_DIR_PATH)"
          env:
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName

            - name: CHECKSUM
              value: "{{cluster_checksum}}"
            - name: CSI_ENDPOINT
              value: "unix:{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com/csi.sock"
            - name: SKIP_MOUNT_UNMOUNT
              value: "yes"
            - name: SHORTNAME_NODE_MAPPING
              value: "{{shortnameNodeMapping}}"
            - name: SECRET_CHECKSUM
              value: "{{secret_checksum}}"
            - name: KUBELET_ROOT_DIR_PATH
              value: "{{ kubeletRootDirPath }}"
{% if nodeMapping|length > 0 %}
{% for nodemap in nodeMapping %}
            - name: "{{ nodemap.k8sNode }}"
              value: "{{ nodemap.spectrumscaleNode }}"
{% endfor %}
{% endif %}
            # Get refs to the secrets so we can trigger a refresh
          imagePullPolicy: "IfNotPresent" # "Always"
          livenessProbe:
            failureThreshold: 10
            httpGet:
              path: /healthz
              port: 9808
            timeoutSeconds: 20
            initialDelaySeconds: 60
            periodSeconds: 30 
          volumeMounts:
            - name: plugin-dir
              mountPath: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com"
            - name: pods-mount-dir
              mountPath: "{{ kubeletRootDirPath }}"
            - mountPath: /dev
              name: host-dev
            - name: "spectrum-scale-config"
              mountPath: /var/lib/ibm/config

            # Grab user clusters
{% for cluster in clustersCamelCase %}
{% if cluster.secrets is defined %}
            - name: "{{ cluster.secrets }}"
              mountPath: "/var/lib/ibm/{{ cluster.secrets }}"
{% endif %}

{% if cluster.cacert is defined %}
            - name: "{{ cluster.cacert }}"
              mountPath: "/var/lib/ibm/ssl/public/{{ cluster.cacert }}"
{% endif %}
{% endfor %}
{% if imagePullSecrets | length > 0 %}
      imagePullSecrets:
{% for pullSecret in imagePullSecrets %}
        - name:  "{{ pullSecret }}"
{% endfor %}
{% endif %}

{% if tolerations | length > 0 %}
      tolerations:
{% for toleration in tolerations %}
        - key: "{{ toleration.key }}"
          operator: "{{ toleration.operator }}"
{% if 'Equal' == toleration.operator %}
          value: "{{ toleration.value }}"
{% endif %}
          effect: {{ toleration.effect }}
{% if 'NoExecute' == toleration.effect  and toleration.tolerationSeconds is defined %}
          tolerationSeconds: "{{ toleration.tolerationSeconds }}"
{% endif %}
{% endfor %}
{% endif %}

      volumes:
        - name: plugin-dir
          hostPath:
            path: "{{ kubeletRootDirPath }}/plugins/spectrumscale.csi.ibm.com"
            type: DirectoryOrCreate
        - name: registration-dir
          hostPath:
            path: "{{ kubeletRootDirPath }}/plugins_registry/"
            type: Directory
        - name: pods-mount-dir
          hostPath:
            path: "{{ kubeletRootDirPath }}"
            type: Directory
        - name: host-dev
          hostPath:
            path: /dev
        - name: "spectrum-scale-config"
          configMap:
            name: "spectrum-scale-config"

# Grab user clusters
{% for cluster in clustersCamelCase %}

{% if cluster.secrets is defined %}
        - name: "{{ cluster.secrets }}"
          secret:
            secretName: "{{ cluster.secrets }}"
{% endif %}

{% if cluster.cacert is defined %}
        - name: "{{ cluster.cacert }}"
          configMap:
            name: "{{ cluster.cacert }}"
{% endif %}
{% endfor %}

